<!-- Newspaper Management System (NMS) Landing Page -->
<div class="landing-wrapper">
  <div class="landing-left">
    <h1 class="landing-title">Newspaper<br />Management<br />System</h1>
    <p class="landing-subtitle">
      Connect newspaper agents with customers and manage routes, subscriptions, and payments in one place.
    </p>
  </div>
  <div class="landing-right">
    <form class="login-form">
      <label for="email">Email</label>
      <input id="email" type="email" placeholder="" autocomplete="username" />

      <label for="password">Password</label>
      <input id="password" type="password" placeholder="" autocomplete="current-password" />

      <button type="submit" class="login-btn">Login</button>

      <div class="social-login">
        <button type="button" class="social-btn google">
            <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="Google" />
            <span>Continue with Google</span>
        </button>
        <button type="button" class="social-btn facebook">
            <img src="https://www.svgrepo.com/show/475647/facebook-color.svg" alt="Facebook" />
            <span>Continue with Facebook</span>
        </button>
      </div>
      <a class="register-link" href="#">Register</a>
    </form>
  </div>
</div>
